---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Toots from "../components/Toots.astro";


---
<Layout title="Home page." description="This is the home page of the project." page="Home DBD">
  <Navbar />
  <section>
    <Toots />
  </section>
</Layout>